section#main-page {
  width: 100%;
  max-width: 700px;
  margin: 70px auto;
  padding: 0 30px;
}

section#main-page header h1 {
  font-size: 40px;
}

section#main-page section#search {
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
}

section#main-page section#search button {
  float: right;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 14px;
  width: 122px;
  height: 40px;
  background-color: rgba(13, 203, 125, 1);
  color: rgba(225, 231, 253, 1);
  padding: 14px 20px;
  float: right;
  border: 5px;
  border-radius: 4px;
  cursor: pointer;
}

section#main-page section#search button:hover {
  background-color: rgba(16, 178, 108, 1);
}
