section#toolItem {
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #ddd;
}

section#toolItem section#headerTool {
  overflow: hidden;
  width: 95%;
  margin: 20px auto 0;
}

section#toolItem section#headerTool a {
  font-size: 24px;
  font-weight: bold;
  float: left;
}

section#toolItem section#headerTool label {
  float: right;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  color: rgba(249, 94, 90, 1);
  margin: 10px 0;
  float: right;
  border-radius: 4px;
  cursor: pointer;
}

section#toolItem section#contentTool {
  overflow: hidden;
  width: 95%;
  margin: auto;
}
